<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#" style="vertical-align:center;">
    <%= image_tag "bonsai.png", class: "d-inline-block align-top", alt: "" %>
  </a>
</nav>
<div>
  <h1 style="text-align:center;">Illustrative PPP Loan Calculator<small class="text-muted"></small> </h1>
  <p>
  </p>
  <div class="container">
    <%= bootstrap_alert(class: 'info') do %>
      This loan calculator to help SMBs understand how much financial support they can get as part of the Paycheck Protection Program.

      PPP loans are highly nuanced and require expert guidance to understand true loan & forgiveness amounts for your business.

      Below is a back-of-the-envelope calculation to get a sense of ballpark figures, with more info provided at the bottom.
    <% end %>
  </div>

  <div class="row">
    <div class="col">
      <%= bootstrap_card(title: "Inputs") do %>
        <%= form_with(url: {action: :index}, data: {remote: false}, method: "get", onchange: 'this.submit();') do |form|%>
        <%= bootstrap_table(class: "table table-bordered") do %>
          <%= dollar_input(form, :avg_total_monthly_payroll) %>
          <%= integer_input(form, :n_employees_making_gt_100k) %>
          <%= dollar_input(form, :avg_annual_comp_across_gt_100k_employees) %>
          <%= integer_input(form, :n_contractors_making_gt_8300_mo) %>
          <%= dollar_input(form, :avg_monthly_comp_across_gt_8300_mo_contractors) %>
          <%= dollar_input(form, :avg_monthly_payroll_in_first_2mos_post_loan_origination) %>
          <%= dollar_input(form, :avg_monthly_rent_or_mortgage_in_first_2mos) %>
          <tr>
            <td>
                8-weeks worth of eligible expenses:
            </td>
            <td>
              2x
            </td>
          </tr>
          <tr>
            <td>
              <strong>
                Total expenses eligible for forgiveness:
              </strong>
            </td>
            <td>
              <strong>
              <%= number_to_currency(@calc.expenses_eligible_for_forgiveness, precision: 0) %>
            </strong>
            </td>
          </tr>

          <%= integer_input(form, :avg_of_ftes_mo_between_feb_june_of_2019) %>
          <%= integer_input(form, :avg_of_ftes_mo_in_first_2mos_post_loan_origination) %>
          <%= integer_input(form, :n_salary_reductions_for_ftes_making_gt_100k) %>
          <%= dollar_input(form, :avg_salary_across_impacted_ftes_pre_reduction) %>
          <%= dollar_input(form, :avg_salary_across_impacted_ftes_post_reduction) %>
          <tr>
            <td>
              <strong>
                Total reduction in forgiveness amount:
              </strong>
            </td>
            <td>
              <strong>
              <%= number_to_currency(@calc.total_reduction_in_forgiveness_amount, precision: 0) %>
            </strong>
            </td>
          </tr>
          <tr>
            <td>

            </td>
            <td>
              <%= form.submit("Submit", class: "btn btn-primary") %>
            </td>
          </tr>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="col">
      <%= bootstrap_card(title: "Outputs") do %>
        <%= bootstrap_table(class: "table table-bordered") do %>
          <tr>
            <td>
              Payroll Eligible for Loan Calculation
            </td>
            <td>
              <%= number_to_currency @calc.payroll_eligible_for_loan_calculation, precision: 0 %>
            </td>
          </tr>
          <tr>
            <td>
              Multiplier
            </td>
            <td>
              <%= @calc.multiplier%>x
            </td>
          </tr>
          <tr>
            <td>
              Maximum Loan Size
            </td>
            <td>
              <%= number_to_currency @calc.maximum_loan_size, precision: 0 %>
            </td>
          </tr>
          <tr>
            <td>
              Amount Eligble for Forgiveness <%= link_to_footnote '4' %>
            </td>
            <td>
              <%= number_to_currency @calc.amount_eligible_for_forgiveness, precision: 0 %>
            </td>
          </tr>
          <tr>
            <td>
              Final Loan Balance
            </td>
            <td>
              <%= number_to_currency @calc.final_loan_balance, precision: 0 %>
            </td>
          </tr>
          <tr>
            <td>
              Monthly Loan Payments <%= link_to_footnote '5' %>
            </td>
            <td>
              <%= number_to_currency @calc.monthly_loan_payments, precision: 0 %>
            </td>
          </tr>
          <tr>
            <td>
              Total Loan Payments
            </td>
            <td>
              <%= number_to_currency @calc.total_loan_payments, precision: 0 %>
            </td>
          </tr>
          <tr>
            <td>
              Total Interest Paid
            </td>
            <td>
              <%= number_to_currency @calc.total_interest_paid, precision: 0 %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </div>
  </div>
  <footer>
    <%= bootstrap_alert(class: "warning") do %>

    Notes:
  <ol>
    <li id="1">
      Avg. total monthly payments for payroll costs incurred during the 1-year period before the date on which the loan is made
    </li>
    <li id="2">
       Payroll costs don't include comp-related taxes, comp for employees living outside the US, and comp above $100k (hence rows 11-14)
    </li>
    <li id="3">
       Utilities include electricity, gas, water, transportation, telephone, and internet access
    </li>
    <li id="4">
       The amount of loan forgiveness calculated above is reduced if there are layoffs or wage reductions greater than 25% (hence rows 20 & 27)
    </li>
    <li id="5">
       Max term of 10 years @ 4%; principal and interest can be deferred for a total of 6 months to a year after disbursement of the loan
    </li>
  </ol>

  Additional Info:

  <ul>
    <li>
      If you already have an SBA loan, you're eligible to get 6 months of principal and interest relief
    </li>
    <li>
      New info is continuously coming in, so if there are errors or changes you'd make to the above, please contact us (emails below)
    </li>
  </ul>
  <% end %>

  Relevant sources:
  <ul>
    <li> <%= link_to "H.R.748 - CARES Act	", "https://www.congress.gov/bill/116th-congress/house-bill/748/text#toc-HCCF2DA7CBD6341059EAB97C24489743B" %> </li>
    <li> <%= link_to "Summary guide by the US Chamber of Commerce	", "https://www.uschamber.com/sites/default/files/023595_comm_corona_virus_smallbiz_loan_final.pdf" %> </li>
    <li> <%= link_to "PPP sample application form	", "https://www.sba.gov/document/sba-form--paycheck-protection-program-ppp-sample-application-form" %> </li>
  </ul>
  <%= bootstrap_alert(class: "success") do %>
   Bonsai Group is working with lenders and others in the entrepreneurial community to help founders/business owners during this time. If you're interested in connecting, please email:
   <%=link_to "nico@bonsaicapitalgroup.com", "mailto:nico@bonsaicapitalgroup.com"%>
   and <%= link_to "ryan@bonsaicapitalgroup.com", "mailto:ryan@bonsaicapitalgroup.com"%>,
   or <%= link_to "schedule a strategy session" , "https://www.bonsaicapitalgroup.com/strategy-session" %>.
   <% end %>

  <%= link_to "Developed by Sam Toolan", "mailto:stoolan@gmu.edu", class: "text-info"%>
  </footer>
</div>
