<div class="container">
  <h1>Illustrative PPP Loan Calculator</h1>
  <%= bootstrap_alert(class: 'info', text: 'DISCLAIMER: PPP loans are highly nuanced and require expert guidance to understand true loan & forgiveness amounts for your business. Below is a back-of-the-envelope calculation to get a sense of ballpark figures. More info provided at the bottom.') %>

  <div class="row">
    <div class="col">
      <%= bootstrap_card(title: "Inputs") do %>
        <%= form_with(url: {action: :index}, data: {remote: false}, method: "get") do |form|%>
        <%= bootstrap_table(class: "table") do %>
          <%= dollar_input(form, :avg_total_monthly_payroll) %>
          <%= integer_input(form, :n_employees_making_gt_100k) %>
          <%= dollar_input(form, :avg_annual_comp_across_gt_100k_employees) %>
          <%= integer_input(form, :n_contractors_making_gt_8300_mo) %>
          <%= dollar_input(form, :avg_monthly_comp_across_gt_8300_mo_contractors) %>
          <%= dollar_input(form, :avg_monthly_payroll_in_first_2mos_post_loan_origination) %>
          <%= dollar_input(form, :avg_monthly_rent_or_mortgage_in_first_2mos) %>
          <%= dollar_input(form, :avg_of_ftes_mo_between_feb_june_of_2019) %>
          <tr>
            <td>
              <small class="text-muted">
                8-weeks worth of eligible expenses:
              </small>
            </td>
            <td>
              <small class="text-muted">
                2x
              </small>
            </td>
          </tr>
          <tr>
            <td>
              <strong>
                Total expenses eligible for forgiveness:
              </strong>
            </td>
            <td>
              <strong>
              <%= number_to_currency(@calc.expenses_eligible_for_forgiveness) %>
            </strong>
            </td>
          </tr>

          <%= integer_input(form, :avg_of_ftes_mo_between_feb_june_of_2019) %>
          <%= integer_input(form, :avg_of_ftes_mo_in_first_2mos_post_loan_origination) %>
          <%= integer_input(form, :n_salary_reductions_for_ftes_making_gt_100k) %>
          <%= dollar_input(form, :avg_salary_across_impacted_ftes_pre_reduction) %>
          <%= dollar_input(form, :avg_salary_across_impacted_ftes_post_reduction) %>
          <tr>
            <td>
              <strong>
                Total reduction in forgiveness amount:
              </strong>
            </td>
            <td>
              <strong>
              <%= number_to_currency(@calc.total_reduction_in_forgiveness_amount) %>
            </strong>
            </td>
          </tr>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="col">
      <%= bootstrap_card(title: "Outputs") do %>
        <%= bootstrap_table do %>
          <tr>
            <td>
              Payroll Eligible for Loan Calculation
            </td>
            <td>
              <%= number_to_currency @calc.payroll_eligible_for_loan_calculation %>
            </td>
          </tr>
          <tr>
            <td>
              Multiplier
            </td>
            <td>
              <%= @calc.multiplier%>x
            </td>
          </tr>
          <tr>
            <td>
              Maximum Loan Size
            </td>
            <td>
              <%= number_to_currency @calc.maximum_loan_size %>
            </td>
          </tr>
          <tr>
            <td>
              Amount Eligble for Forgiveness
            </td>
            <td>
              <%= number_to_currency @calc.amount_eligible_for_forgiveness %>
            </td>
          </tr>
          <tr>
            <td>
              Final Loan Balance
            </td>
            <td>
              <%= number_to_currency @calc.final_loan_balance %>
            </td>
          </tr>
          <tr>
            <td>
              Monthly Loan Payments
            </td>
            <td>
              <%= number_to_currency @calc.monthly_loan_payments %>
            </td>
          </tr>
          <tr>
            <td>
              Total Loan Payments
            </td>
            <td>
              <%= number_to_currency @calc.total_loan_payments %>
            </td>
          </tr>
          <tr>
            <td>
              Total Interest Paid
            </td>
            <td>
              <%= number_to_currency @calc.total_interest_paid %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
